

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title -  ASP.NET</title>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .bg-custom {
            background-color: #031021;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-custom">
        <div class="container">
            @Html.ActionLink( "Paqueteria de envío", "Principal", "Principal", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">

                <ul class="navbar-nav flex-grow-1">


                    @if (Session["UserRole"] != null)
                    {
                        var rolNombre = Session["UserRole"].ToString();

                        if (rolNombre == "Administrador")
                        {
                            @*nombre de la vista /  metodo/ controlador*@

                            <li>@Html.ActionLink("Usuario", "GetAllEF", "Usuarios", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Transporte", "GetAllTransporte", "Transporte", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Paquetes", "GetAll", "Paquetes", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Repartidores", "GetAll", "Repartidor", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Envios de Paquetes", "EnviarPaquetes", "EnvioPaquetes", new { area = "" }, new { @class = "nav-link" })</li>

                            <li style="margin-left: auto;">
                                @Html.ActionLink("LogOut", "CerrarSesion", "Usuarios", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }
                        else if (rolNombre == "Usuario")
                        {
                            <li>@Html.ActionLink("Transporte", "GetAllTransporte", "Transporte", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("CargaMasiva", "Get", "CargaMasiva", new { area = "" }, new { @class = "nav-link" })</li>
                            <li style="margin-left: auto;">
                                @Html.ActionLink("LogOut", "CerrarSesion", "Usuarios", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }
                        else if (rolNombre == "Invitado")
                        {
                            @*<li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                            <li>@Html.ActionLink("Usuario", "GetAllEF", "Usuarios", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Transporte", "GetAllTransporte", "Transporte", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Paquetes", "GetAll", "Paquetes", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Envios de Paquetes", "EnviarPaquetes", "EnvioPaquetes", new { area = "" }, new { @class = "nav-link" })</li>
                            <li style="margin-left: auto;">
                                @Html.ActionLink("LogOut", "CerrarSesion", "Usuarios", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }

                    }

                    @if (Session["UserRole"] == null)
                    {


                        <li style="margin-right: auto;">
                            @Html.ActionLink("Servicio al Cliente", "ServicioACliente", "ServicioCliente", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li style="margin-left: auto;">
                            @Html.ActionLink("LogIn", "Login", "Login", new { area = "" }, new { @class = "nav-link" })
                        </li>

                    }





                    @*<li>@Html.ActionLink("Random", "Index", "EjemploAjax", new { area = "" }, new { @class = "nav-link" })</li>*@


                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year Todos los derechos reservados.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


