@model ML.Repartidor
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Repartidores</h2>
<br />
<style>
    body {
        background-color: #d6eafa; /* Color de fondo deseado */
    }

    h2 {
        text-align: center;
    }
</style>

<table class="table table- table-hover table-bordered border border-primary  border-3">

    <thead class="table-secondary">
        <tr class="text-center">
            <th></th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (ML.Repartidor repartidor in Model.Repartidores)
        {
            <tr class="text-center">
                <td>
                    <a class="btn btn-secondary" style="background-color: #FFFFFF;" href="@Url.Action("Form", "Repartidor" , new { idRepartidor = repartidor.IdRepartidor}) "> <img src="~/Imagen/editar.png" alt="Eliminar" style="width: 30px; height: 30px;" /></a>
                </td>
                <td>@repartidor.Nombre</td>
                <td>@repartidor.ApellidoPaterno</td>
                <td>@repartidor.ApellidoPMaterno</td>
                


                <td>
                    <a class="btn btn-primary" style="background-color: #FFFFFF;" onclick="return confirm('¿Estás seguro de que deseas eliminar este transporte?');"
                       href="@Url.Action("Delete", "Repartidor", new { idRepartidor = repartidor.IdRepartidor})"><img src="~/Imagen/eliminar.png" alt="Eliminar" style="width: 30px; height: 30px;" /></a>


                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Form", "Repartidor")" class="btn btn-primary float-right">Agregar</a>
    </div>
</div>